{% extends 'base.html.twig' %}

{% block title %}Hello EntreprisesController!{% endblock %}

{% block body %}
<style>
    .header { background-color: #00205b;
    width: 100%;
    height: 12vh;color:white; }
     .footer { background-color: #00205b;
    width: 100%;
    height: 12vh;
    margin-top:39% }
    .text_header{ float:Right;margin:2% 2% 0% 0%; }
    .card{padding: 2rem 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(156,159,168,.3);
    background-color: #fff;
    cursor: pointer;
    width: 60%;
    height:30vh;
    margin: 15% 0% 0% 18%;}
</style>

<div class="header">

<span class="text_header">  CONTACT </span>
<span class="text_header">  ABOUT ME </span>
<span class="text_header">   HOME </span>

</div>
<div class="container" >

     {% for company in list %}
        <div class="card">
        <strong>Nom : </strong> {{ company.name }}
         <strong>Numero de Siret : </strong> {{ company.numSiret }}
            <strong>Nom : </strong> {{ company.name }}
             <strong>Numero de Siren : </strong> {{ company.numSiren }}
             <strong>Actitité : </strong> {{ company.activity }}
             <strong>Adresse : </strong> {{ company.adress }}
            
        </div>
     {% endfor %}

</div>
<div class="footer">

</div>
{% endblock %}
